In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

### Titanic survival classification

In [2]:
train = pd.read_csv("F:\\SACHIN\\Study\\Projects\\ML_Data\\titanic kaggle\\train.csv")
test = pd.read_csv("F:\\SACHIN\\Study\\Projects\\ML_Data\\titanic kaggle\\test.csv")
gender_submission = pd.read_csv("F:\\SACHIN\\Study\\Projects\\ML_Data\\titanic kaggle\\gender_submission.csv")

print("train size: ", train.shape)
print("test size: ", test.shape)

train size:  (891, 12)
test size:  (418, 11)

In [3]:
combined_df = pd.concat([train, test])
combined_df.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [4]:
#drop unwanted columns
combined_df.drop(['Cabin', 'Name', 'PassengerId', 'Ticket', 'Survived'], inplace=True, axis=1)
combined_df.shape

(1309, 7)

In [5]:
#Check nulls
print(combined_df.isnull().sum())

Age         263
Embarked      2
Fare          1
Parch         0
Pclass        0
Sex           0
SibSp         0
dtype: int64

In [6]:
combined_df = pd.get_dummies(combined_df)
combined_df.head()

,Age,Fare,Parch,Pclass,SibSp,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,22.0,7.2500,0,3,1,0,0,1,0,1
1,38.0,71.2833,0,1,1,1,0,0,1,0
2,26.0,7.9250,0,3,0,0,0,1,1,0
3,35.0,53.1000,0,1,1,0,0,1,1,0
4,35.0,8.0500,0,3,0,0,0,1,0,1

In [7]:
#fill nulls
combined_df.fillna(combined_df.mean(), inplace=True)
combined_df.head()
print("Nulls:",combined_df.isnull().sum().sum())

Nulls: 0

In [8]:
#train test split

train_X = combined_df[:train.shape[0]]
test_X = combined_df[train.shape[0]:]
y = train.Survived
print("Train: ", train.shape)
print("Test: ", test.shape)

Train:  (891, 12)
Test:  (418, 11)

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors  import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
# from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
# from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

names = ["Logistic Regression", "MLP Classifier", "K Nearest Neighbours", "SVM", "Gaussian", "Random Forest Classifier", "Ada Boost Classifier", "Gaussian NB", "Quadratic Discriminant"]

classifiers = [LogisticRegression(),
               MLPClassifier(),
               KNeighborsClassifier(),
               SVC(),
               GaussianProcessClassifier(),
               DecisionTreeClassifier(),
               RandomForestClassifier(),
               AdaBoostClassifier(),
               GaussianNB()
              ]

In [10]:
for name, clf in zip(names, classifiers):
   clf.fit(train_X, y)
   accuracy = round(clf.score(train_X, y) * 100, 2)
   print(name, accuracy)

Logistic Regression 80.36
MLP Classifier 81.71
K Nearest Neighbours 81.82
SVM 89.11
Gaussian 95.17
Random Forest Classifier 98.2
Ada Boost Classifier 96.97
Gaussian NB 83.05
Quadratic Discriminant 79.12